.App {
    background-color: #0D335D;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
}

.auth-form-container, .login-form, .signup-form{
    display: flex;
    flex-direction: column;
}

.auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
}

label {
    text-align: left;
    padding: 0.25rem 0;
}

h1{
    text-align: center;
}

input{
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

button {
    border: none;
    background-color: #1A508B;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.link-btn{
    background: none;
    color: white;
    text-decoration:underline;
}

.title{
    font-size: 100px;
    color: white;
}

.google-header{
    color: red;
}
