@tailwind base;
@tailwind components;
@tailwind utilities;



/* @media screen and (max-width: 1200px) { */
    input::placeholder {
        color: black;
    }
    
    
    .form-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
      
    .form-row {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    
    /* .form-row input,
    .form-row select,
    .form-row fieldset {
        margin-top: 0.5rem;
    } */
    
    .visually-hidden {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    }
    
    .date-row {
        display: flex;
        margin-top: 1rem;
    }
    
    .date-row:last-child {
        margin-left: 100px;
    }
    
    .button-row {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }
      
    .button-row button:first-child {
        margin-right: auto;
        margin-left: 100px;
    }
      
    .button-row button:last-child {
        margin-right: 100px;
        margin-left: auto;
        
    }

/* } */


