@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

/* body{
    font-family: 'Salsa', cursive;
    background-color: #FFF3E6;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
} */

.buttons{
    background-color: #C1A1D3;
    color: white;
    font-size: 15pt;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}